{% extends "index.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-6 banner-info">
			<h1>Już niedługo</h1>
			<p class="big-text">będzie tutaj fajna gierka</p>
			<p>Każdy będzie mógł w nią zagrać dzięki naszej pracy</p>
			<a class="btn btn-first" href="#">Tu będzie link do gry</a>
			<a class="btn btn-second" href="#">Tu będzie link do aktualności</a>
		</div>
		<div class="col-sm-6 banner-image">
			<img src="image.png" class="img-responsive" />
		</div>
	</div>
</div>
{% endblock content %}
